:host {
  width: 100%;

  @media (min-width: 1024px) {
    width: calc(100% - 300px);
    order: 2;
  }

  @media (min-width: 1366px) {
    width: calc(100% - 300px - 285px);
  }

  .chart {
    width: 100%;
    border-bottom: 1px solid #000;

    &-image {
      width: 100%;
      height: calc(100vh - 179px);
      background: url('../../../../assets/img/chart-desktop.png') 0% 0% no-repeat;
      background-size: cover;

      @media (min-width: 768px) {
        height: 400px;
        background: url('../../../../assets/img/chart.png') 0% 0% no-repeat;
        background-size: cover;
      }

      @media (min-width: 1024px) {
        height: 600px;
        background: url('../../../../assets/img/chart-desktop.png') 0% 0% no-repeat;
        background-size: cover;
      }
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 45px;
      padding: 0 28px;
      border-bottom: 1px solid #000;
      background: rgb(47, 61, 69);

      &__title {
        color: #fff;
        font-size: 12px;
        font-weight: 700;
      }

      &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {
          display: block;
          border-bottom: 1px solid rgba(233, 233, 233, 0.4);
          color: rgba(233, 233, 233, 0.4);
          padding: 0 0 0 5px;

          &:first-child {
            padding: 0 5px 0 0;
          }

          &--active {
            color: #fff;
            border-bottom-color: #fff;
          }
        }
      }
    }
  }
}