<div class="orders">
  <div class="orders-header">
    <div class="orders-header__title">Order Book</div>
    <ul class="orders-header__control">
    <li class="orders-header__control-item orders-header__control-item--active">Price Chart</li>
    <li class="orders-header__control-item">Depth Chart</li>
    </ul>
  </div>
  <div class="orders-content">
    <div class="orders-content__row heading">
      <div class="orders-content__col">
        Market Size
      </div>
      <div class="orders-content__col">
        Price (EUR)
      </div>
      <div class="orders-content__col">
        My Size
      </div>
    </div>
  </div>
</div>
