<div class="side">
  <div class="container">

    <div class="side-login">
      <div class="side-login__button">
        <a href="" class="side-login__button-link">Sign in</a>
      </div>
      <div class="side-login__text">or</div>
      <div class="side-login__button">
        <a href="" class="side-login__button-link">Create account</a>
      </div>
    </div>

    <div class="side-order">
      <div class="side-order__title">Order form</div>
      <div class="side-order__controls">
        <div class="side-order__control">
          <a href="" class="side-order__control-link">Buy</a>
        </div>
        <div class="side-order__control">
          <a href="" class="side-order__control-link">Sell</a>
        </div>
      </div>
    </div>

  </div>
</div>
