<div class="side">

  <div class="side-login">
    <div class="side-login__button">
      <a href="" class="side-login__button-link">Sign in</a>
    </div>
    <div class="side-login__text">or</div>
    <div class="side-login__button">
      <a href="" class="side-login__button-link">Create account</a>
    </div>
  </div>

  <div class="side-order">
    <div class="side-order__title">Order Form</div>
    <div class="side-order__controls">
      <div class="side-order__control side-order__control--green">
        <a href="" class="side-order__control-link">Buy</a>
      </div>
      <div class="side-order__control">
        <a href="" class="side-order__control-link">Sell</a>
      </div>
    </div>
  </div>

  <ul class="side-tabs">
    <li class="side-tabs__control side-tabs__control--active">Market</li>
    <li class="side-tabs__control">Limit</li>
    <li class="side-tabs__control">Stop</li>
  </ul>

  <div class="side-form">
    <div class="side-form__label">Amount</div>
    <div class="side-form__input">
      <div class="side-form__input-field">
        <div class="side-form__input-placeholder">Max</div>
        <div class="side-form__input-value">0.00</div>
      </div>
      <div class="side-form__input-currency">EUR</div>
    </div>
  </div>

  <ul class="side-list">
    <li class="side-list__item">
      <div class="side-list__item-title">Free (EUR) =</div>
      <div class="side-list__item-value">€0.00</div>
    </li>
    <li class="side-list__item">
      <div class="side-list__item-title">Total (ETC) =</div>
      <div class="side-list__item-value">⟠0.00000000</div>
    </li>
  </ul>

  <div class="container">
    <div class="side-button">
      <a href="" class="side-button__link">Place buy order</a>
    </div>
  </div>

  <ul class="side-controls">
    <li class="side-controls__item side-controls__item--active">Trade</li>
    <li class="side-controls__item">Orders</li>
    <li class="side-controls__item">Charts</li>
    <li class="side-controls__item">Book</li>
    <li class="side-controls__item">History</li>
  </ul>
</div>
